name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read # This is required for actions/checkout

# Cancel when pull request is updated
concurrency:
  group: ${{ github.head_ref || github.ref_name || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-commits:
    # Note: To re-run `lint-commits` after fixing the PR title, close-and-reopen the PR.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "npm"
      - name: Check PR title
        run: |
          node "$GITHUB_WORKSPACE/.github/workflows/lintcommit.js"

  build:
    needs: lint-commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: built-artifacts
          path: |
            packages/**/dist*/*
            package.json
            package-lock.json

  unit-tests:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        node-version: ["22.x", "24.x"]
    uses: "./.github/workflows/unit-tests.yml"
    with:
      node-version: ${{ matrix.node-version }}

  integration-tests:
    needs: build
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        node-version: ["22.x", "24.x"]
    uses: "./.github/workflows/integration-tests.yml"
    with:
      node-version: ${{ matrix.node-version }}
    secrets: inherit
