name: Integration Tests

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

# Cancel when pull request is updated for this node version
concurrency:
  group: ${{ github.head_ref }}-${{ github.run_id }}-${{ inputs.node-version }}-integ
  cancel-in-progress: true

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write # Required for AWS credentials
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: Get AWS Credentials
        id: credentials
        if: github.actor != 'nektos/act'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ secrets.ACTIONS_INTEGRATION_ROLE_NAME }}"
          role-session-name: githubIntegrationTest
          aws-region: ${{ vars.AWS_REGION }}

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: built-artifacts
          path: .

      - name: Install dependencies
        run: npm run install-all

      - name: Deploy functions
        id: deploy-functions
        env:
          LAMBDA_ENDPOINT: ${{ secrets.LAMBDA_ENDPOINT }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_NUMBER: ${{ github.event.number }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
        run: node .github/workflows/scripts/integration-test/integration-test.js --deploy-only --runtime ${{ inputs.node-version }}

  jest-integration-test:
    needs: deploy
    runs-on: ubuntu-latest
    name: Jest Integration Tests
    permissions:
      contents: read
      id-token: write # Required for AWS credentials

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: Get AWS Credentials
        id: credentials
        if: github.actor != 'nektos/act'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ secrets.ACTIONS_INTEGRATION_ROLE_NAME }}"
          role-session-name: githubIntegrationTest
          aws-region: ${{ vars.AWS_REGION }}

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: built-artifacts
          path: .

      - name: Install dependencies
        run: |
          npm run install-all

      - name: Run Jest integration tests
        env:
          LAMBDA_ENDPOINT: ${{ secrets.LAMBDA_ENDPOINT }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_NUMBER: ${{ github.event.number }}
        run: |
          node .github/workflows/scripts/integration-test/integration-test.js --test-only --runtime ${{ inputs.node-version }}
