name: Unit Tests

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

permissions:
  contents: read # Required for actions/checkout

# Cancel when pull request is updated for this node version
concurrency:
  group: ${{ github.head_ref }}-${{ github.run_id}}-${{ inputs.node-version }}-unit
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: built-artifacts
          path: .
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
